# # Server
# PORT=3000

# # MySQL
# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=root
# DB_PASSWORD=root
# DB_NAME=bookstore_db

# # CORS — Angular dev server
# CORS_ORIGIN=http://localhost:4200

# # JWT — change this secret in production!
# JWT_SECRET=bookstore_super_secret_key_change_in_production
# JWT_EXPIRES_IN=7d

# Server
PORT=3000

# MySQL
DB_HOST=mysql-1d548252-book-store-yajju.h.aivencloud.com
DB_PORT=13673
DB_USER=avnadmin
DB_PASSWORD=AVNS_mxzPp3IaZI3urkbcLAI
DB_NAME=bookstore_db

# CORS — Angular dev server
CORS_ORIGIN=http://localhost:4200

# JWT — change this secret in production!
JWT_SECRET=bookstore_super_secret_key_change_in_production
JWT_EXPIRES_IN=7d
